<h1>Chat Room</h1>
<p>room: 「<%= @room.name %>」<p>
<div class="container">
    <div 
        id="messages"
        data-channel-subscribe="room" 
        data-room-id="<%= @room.id %>"
        data-user-name = <%= current_user.name %>
    >
        <%= render @messages %>
    </div>
    <div class="form-group">
        <input type="text" id="chat-input" />
        <button id="button">送信</button>
    </div>
</div>

<div data-turbolinks="false">
<%= link_to 'Back', user_path(current_user) %>
</div>

<%= javascript_include_tag 'channels/room' do %>
<% end %>